<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- This website template was downloaded from http://www.nuviotemplates.com - visit us for more templates -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="all,follow" />

    <meta name="author" lang="en" content="All: Your website name [www.your-website.com]; e-mail: info@your-website.com" />
    <meta name="copyright" lang="en" content="webdesign: Vit Dlouhy [Nuvio - www.nuvio.cz; NuvioTemplates - www.nuviotemplates.com]; e-mail: hello@nuviotemplates.com" />

    <meta name="description" content="..." />
    <meta name="keywords" content="..." />
    
    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="css/main-msie.css" /><![endif]-->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/scheme.css" />
    <link rel="stylesheet" media="print" type="text/css" href="css/print.css" />

    <title>Assembler | Your hunt starts here</title>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div id="header" class="box">

        <!-- Your logo -->
        <h1 id="logo"><a href="#" title="[Go to homepage]">Assembler - Your hunt starts here</a></h1>
        
        <!-- Your slogan -->
        <p id="slogan">Playground for g33ks</p>

        <hr class="noscreen" />

        <!-- Hidden navigation -->
        <p class="noscreen noprint"><em>Quick links: <a href="#content">content</a>, <a href="#nav">navigation</a>, <a href="#search">search</a>.</em></p>

        <hr class="noscreen" />

        <!-- Search -->
        <div id="search">
            <form action="" method="get">
                <div>
                    <span class="noscreen">Fulltext:</span>
                    <input type="text" size="30" name="query" id="search-input" />
                    <input type="submit" value="Search" id="search-submit" />
            	</div>
            </form>
        </div> <!-- /search -->
        
    </div> <!-- /header -->

    <hr class="noscreen" />

    <!-- Navigation -->
    <div id="nav" class="box">
    
        <h3 class="noscreen">Navigation</h3>        

        <ul>
            <li id="nav-active"><a href="#">Homepage</a></li> <!-- Active page (highlighted) -->
            <li><a href="#">About Assembler</a></li>
        </ul>
    
    </div> <!-- /nav -->
    
    <hr class="noscreen" />

    <!-- Main content -->
    <div id="content" class="box">

        <div class="box">        

        <!-- Photos -->
        <h4 class="hx-style01"><span>Hot picks</span></h4>
        
        <div id="photos" class="box">
            <a href="#"><img src="tmp/image-02.gif" alt="" class="nom" /></a>
            <a href="#"><img src="tmp/image-02.gif" alt="" /></a>
            <a href="#"><img src="tmp/image-02.gif" alt="" /></a>
            <a href="#"><img src="tmp/image-02.gif" alt="" /></a>
            <a href="#"><img src="tmp/image-02.gif" alt="" /></a>
            <a href="#"><img src="tmp/image-02.gif" alt="" /></a>
        </div> <!-- /photos -->           

        <p class="t-center"><a href="#" class="ico-more">More photos (152)</a></p>
        
        <hr class="noscreen" />

        <!-- Other informations -->
        <h4 class="hx-style01"><span>Search here....</span></h4>
        
        <div class="box">
        
            <!-- Column I -->
            <div class="col30">
                
                <h3>Machine Parts</h3>

                <ul class="ul-list box">
                    <li><a href="#">Lorem ipsum dolor sit amet</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">29 comments</a>)</span></li>
                    <li><a href="#">Consectetuer adipiscing elit</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">75 comments</a>)</span></li>
                    <li><a href="#">Maecenas accumsan</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">6 comments</a>)</span></li>
                    <li><a href="#">Pellentesque mattis nib lorem</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">11 comments</a>)</span></li>
                </ul>
                
                <p class="t-center"><a href="#" class="ico-more">More older articles</a></p>
                
            </div> <!-- /col30 -->

            <hr class="noscreen" />
            
            <!-- Column II -->
            <div class="col40 margin">

                <h3>Search results</h3>

                <ul class="ul-list box">
                    <li><a href="#">Lorem ipsum dolor sit amet</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">10 comments</a>)</span></li>
                    <li><a href="#">Consectetuer adipiscing elit</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">11 comments</a>)</span></li>
                    <li><a href="#">Maecenas accumsan</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum</a> &ndash; <a href="#">3 comments</a>)</span></li>
                    <li><a href="#">Pellentesque mattis nib lorem</a><br /><span class="smaller low">(Monday, 01. 01. 08 &ndash; <a href="#">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </a> &ndash; <a href="#">45 comments</a>)</span></li>
                </ul>
                
                <p class="t-center"><a href="#" class="ico-more">More older articles</a></p>

            </div> <!-- /col30 -->

            <hr class="noscreen" />                
            
        </div> <!-- /box -->

    </div> <!-- /content -->


    <hr class="noscreen" />
        
    <!-- Footer -->
    <div id="footer">

        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->            
        <p class="f-right"><a href="http://www.nuviotemplates.com/">Free web templates</a> presented by <a href="http://www.qartin.cz/">QARTIN</a>, vacation <a href="http://www.puntacana.net/">Punta Cana</a></p>
        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
        
        <p>&copy;&nbsp;2011 <a href="#">Assembler</a></p>

    </div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>
